<h1>Matches</h1>
<% matches.forEach(function(matches) { %>
		<% if (matches.ori_user_name == user_name) { %>
	        <li>
	            <strong><%= matches.match_user_name %></strong>
	        </li>
        <% } else { %>
        	<li>
	            <strong><%= matches.ori_user_name %></strong>
	        </li>
        <% }%>
	<% }); %>
	
	<style>
		h1 {
		 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		color: blue;
		}
	  </style>
  
