
  
   <!-- register Form -->
    <form action="/register" method="POST" style="text-align:center">
    <h1>Register</h1>
      <label for="name"> Insert name:</label>
      <br>
      <input type="text" id="name" name="name" placeholder="Name">
      
      <div class= "gender">
        <br>
      <label for="cars">Insert your gender:</label>
    </div>
   
      <select name="gender" id="gender" required>
        <option value="" disabled>-- Choose --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div>
      <br>
      <label for="cars">Insert which gender interest you:</label>
    </div>

    <div>

      <select name="interest" id="gender" required>
        <option value="" disabled>-- Choose --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>

    </div>
      <br>
      <label for="email"> Insert email:</label>
      <input type="text" id="email" name="email" placeholder="Email">
        <br></br>
      <label for="password"> Insert password:</label>
      <input type="password" id="password" name="password" placeholder="Password">
        <br></br>
      <input type="submit" value="Create account">
    </form>


    <style>
      h1 {
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: blue;
      }
    </style>

